.grid{
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    /* grid-template: 200px 200px / 25% 25% 2fr 1fr; */
    grid-template: repeat(2, 200px) / 25% 25% 2fr 1fr;
    gap: 10px 15px;
}
.box{
    background-color: beige;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: black;
}
.a{
    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-area: 1 / 1 / span 2 / span 2;
}